@import "components/control-panel.less";
@import "components/drop-placeholder.less";
@import "components/playlist.less";

body, input {
  font-family: Verdana;
}

body {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 14px;
  background-color: black;
}

canvas {
  background-color: black;
}
